
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    /* background-color: #d1d5db; */
}

.right {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    background-color: white;
}

.chart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-card { 
    font-size: 32px;
    line-height: 1; 
} 

.chart-card {
    position: relative;
    padding: 2 rem;
    width: 67%;
    height: 100%;
    border-radius: 0.375rem;
    border-width: 2px;
    box-sizing: border-box;
}

.details-card {
    width: 100%;
    border-radius: 0.375rem;
    border-width: 2px;
    box-sizing: border-box;
}


.overview-card {
    position: relative;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 2px;
    box-sizing: border-box;
}

.watchlist-card {
    position: relative;
    flex-direction: row;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 2px;
    box-sizing: border-box;
}

